﻿<link rel="import" href="/sys/polymer/polymer.html">
<link rel="import" href="/sys/juicy-select/juicy-select.html" />
<link rel="stylesheet" href="/sys/calendarsync.css">
<link rel="stylesheet" href="/sys/font-awesome-4.7.0/css/font-awesome.min.css">

<template>
    <template is="dom-bind">

        <div class="form-horizontal">
            <label>
                Your available calendars:
                <juicy-select caption-text="" value="{{model.SelectedCalendarId$}}" options="{{model.AvailableCalendars}}" text-property="Name" value-property="Id"></juicy-select>
            </label>
            <button class="btn btn-sm btn-default" value="{{model.Add$::click}}" onmousedown="++this.value">Add</button>
        </div>

        <h4>Selected Calendars</h4>
        <div class="form-horizontal">

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Provider</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>CalendarId</th>
                        <th>Last Synced</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <template is="dom-repeat" items="{{model.SyncedCalendars}}">
                        <tr>
                            <td>{{item.Provider}}</td>
                            <td>{{item.Name}}</td>
                            <td>{{item.Type}}</td>
                            <td>{{item.CalendarId}}</td>
                            <td>{{item.LastSync}}</td>
                            <td>
                                <button class="btn btn-xs btn-warning" value="{{item.CreateTestEvent$::click}}" onmousedown="++this.value" title="Create a test event"><i class="fa fa-bug preventevent"></i></button>
                                <button class="btn btn-xs btn-success" value="{{item.Sync$::click}}" onmousedown="++this.value" title="Full sync NOW!"><i class="fa fa-refresh preventevent"></i></button>
                                <button class="btn btn-xs btn-danger" value="{{item.Remove$::click}}"  onmousedown="++this.value" title="Remove calendar sync"><i class="fa fa-remove preventevent"></i></button>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        
        <h4>Global actions</h4>
        <div>
            <button class="btn btn-sm btn-default" value="{{model.Reset$::click}}" onmousedown="++this.value">Re-register notifications</button>
        </div>

    </template>

    <template is="declarative-shadow-dom">
        <style>
            .calendarsync-dropdown-margin {
                margin-bottom: 20px;
            }
        </style>

        <div class="calendarsync-dropdown-margin">
            <slot name="calendarsync/select-calendar"></slot>
        </div>

    </template>
</template>