﻿<link rel="import" href="/sys/polymer/polymer.html">

<template>
    <template is="dom-bind">

        <h3>You need to link your Google+ account and allow CalendarSync access to read/write your Google Calendars</h3>
        <a class="btn btn-success" href="/calendarsync/google/signin?final_destination={{model.FinalDestination}}&scope={{model.Scope}}" target="_self">Link Google+ account</a>
        
    </template>
</template>
