﻿.preventevent {
    pointer-events: none;
}

.example {

    background-color: #eeeeee;
    color: black;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
}